BlanksShop/bin
BlanksShop/obj
BlanksShop/.vs

Infrastructure/bin
Infrastructure/obj
Infrastructure/.vs
BlanksShop/.vs/BlanksShop/DesignTimeBuild/.dtbcache.v2
BlanksShop/.vs/BlanksShop/FileContentIndex/0bc85e5e-bef0-4a04-8916-37050d09e91b.vsidx
BlanksShop/.vs/BlanksShop/FileContentIndex/6a8ce0bc-2def-462f-be62-1bb08d1b509b.vsidx
BlanksShop/.vs/BlanksShop/FileContentIndex/6ff27563-d934-468d-8f87-742b6e237ff0.vsidx
BlanksShop/.vs/BlanksShop/FileContentIndex/88155571-fd10-4b56-b954-d8913cf16594.vsidx
BlanksShop/.vs/BlanksShop/v17/.futdcache.v2
BlanksShop/.vs/BlanksShop/v17/.suo
BlanksShop/.vs/ProjectEvaluation/blanksshop.metadata.v6.1
BlanksShop/.vs/ProjectEvaluation/blanksshop.projects.v6.1
BlanksShop/obj/ApplicationCore.csproj.nuget.dgspec.json
BlanksShop/obj/Debug/net6.0/ApplicationCore.assets.cache
BlanksShop/obj/Debug/net6.0/ApplicationCore.GeneratedMSBuildEditorConfig.editorconfig
BlanksShop/obj/project.assets.json
BlanksShop/obj/project.nuget.cache
Infrastructure/obj/Debug/net6.0/Infrastructure.assets.cache
Infrastructure/obj/Debug/net6.0/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
Infrastructure/obj/project.assets.json
Infrastructure/obj/project.nuget.cache
Presentation/obj/project.assets.json
Presentation/obj/project.nuget.cache
